/**
 * Contains base styling, typography, general elements and utility styling
 */

/* Typography & Base */
body
	overflow-x: hidden
	font-family: $family
	color: $dark
	background: #111
	color: #333
	font-weight: 300

.wrapper
	position: relative
	overflow: hidden
	background: $primary
	max-width: 1600px
	margin: 0 auto

p
	line-height: 1.35
	color: inherit

h1, h2, h3, h4, h5, h6
	text-transform: uppercase
	font-family: inherit
	font-weight: 400
	color: inherit
	line-height: 1.4
	margin-top: 10px
	margin-bottom: 5px
	color: #777

	small
		font-size: 65%

h1
	text-transform: none
	font-size: 32px
	font-weight: 500
	line-height: 1.05
	letter-spacing: -0.5px
	margin-bottom: 5px
	color: $secondary

h2
	text-transform: none
	font-size: 24px
	font-weight: 500
	line-height: 1.1
	margin-top: 0
	margin-bottom: 20px
	color: $dark

h3
	font-size: 18px
	font-weight: 400
	color : $tertiary

h4
	font-size: 17px

h5
	font-size: 15px
	color: #777
	margin-top: 20px

h6
	color: $success-button-border-color
	font-weight: 600
	font-size: 16px
	margin-bottom: 0


a
	color: $primary
	transition: $transition

	&:hover, &:focus, &:active
		color: lighten($primary, 10)
		text-decoration: underline


/* General */
iframe
	max-width: 100%
	border: 0

hr
	margin: 24px 0 18px
	height: 0
	border: 0 solid #eee
	border-top-width: 1px

	&.long
		margin: 18px 0 30px


/* Helpers */
.clear
	&:before, &:after
		content: ""
		display: table

	&:after
		clear: both // not really needed

.vertical-align
	position: absolute
	top: 50%
	transform: translateY(-50%)

.screen-reader-text
	position: absolute !important
	width: 1px
	height: 1px
	clip: rect(1px 1px 1px 1px)
	clip: rect(1px, 1px, 1px, 1px)


// Scrollbar
::-webkit-scrollbar
	height: 7px
	width: 7px
	background: rgba($dark, 0.05)

::-webkit-scrollbar-thumb
	background: rgba($dark, 0.1)