/**
 * Contains Foundation styling overrides
 */

input:not([type]), input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color], select
	text-align: center
	font-family: $family-mono
	font-size: 26px
	line-height: 40px
	padding:0 10px
	border: 2px solid #eee
	letter-spacing: -1px
	height: 60px
	text-shadow: none
	margin-bottom: 0
	border-radius: $radius
	box-shadow: none

input[type=number]
	-moz-appearance: textfield
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	appearance: none
	margin: 0

button, .button
	width: 100%
	padding: 0 10px
	border-width: 2px
	line-height: 58px
	height: 60px
	font-size: 30px
	margin-bottom: 0
	border-radius: $radius
	transition: $transition
	outline: none

	&.hollow
		background: none !important
		border-color: rgba($button-border-color, 0.5)
		color: $button-bg-color
		&:hover
			color: $button-bg-hover
			background: rgba(#000, 0.05) !important

		&.secondary
			color: $secondary-button-bg-color
			border-color: rgba($secondary-button-border-color, 0.5)
			&:hover
				color: $secondary-button-bg-hover

		&.success
			color: $success-button-bg-color
			border-color: rgba($success-button-border-color, 0.5)
			&:hover
				color: $success-button-bg-hover

		&.warning
			color: $warning-button-bg-color
			border-color: rgba($warning-button-border-color, 0.5)
			&:hover
				color: $warning-button-bg-hover

		&.alert
			color: $alert-button-bg-color
			border-color: rgba($alert-button-border-color, 0.5)
			&:hover
				color: $alert-button-bg-hover

		&.info
			color: $info-button-bg-color
			border-color: rgba($info-button-border-color, 0.5)
			&:hover
				color: $info-button-bg-hover


/**
 * Alerts
 */
.alert-box
	border-width: 0
	padding: 12px 20px
	font-weight: 400
	font-size: 16px
	line-height: 1.4

.alert-list

	.alert-box
		margin-bottom: 0
		margin-top: 2px


/**
 * Options
 */
.options
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 165px
	padding: 20px
	box-shadow: 0 0 0 3px rgba($dark, 0.1)
	background: #fff
	z-index: 20

	form.row.collapse
		.columns
			&:not(:last-child)
				&>*
					border-right: 0
					border-top-right-radius: 0
					border-bottom-right-radius: 0
			&:last-child
				&>*
					border-top-left-radius: 0
					border-bottom-left-radius: 0


/**
 * Code / prism.js
 */
pre#code
	position: absolute
	top: 0
	right: 0
	height: 100%
	width: 420px
	overflow: hidden
	z-index: 5
	display: block
	margin: 0
	padding: 15px 15px
	background: rgba($dark, 0.5)
	box-shadow: 0 0 0 3px rgba($dark, 0.7)
	font-size: 14px
	font-weight: 400

	border-radius: 0

	&, code[class*="language-"]
		font-family: $family-mono

	.line-highlight
		background: rgba($light, 0.2)

		&:before
			display: none