/**
 * UI elements and Foundation style overrides
 */

/* Form */
input:not([type]), input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color]
	text-align: center
	font-family: $family-mono
	font-weight: 300
	font-size: 26px
	line-height: 30px
	padding: 0
	color: #444
	border: 2px solid #eee
	letter-spacing: -1px
	height: 54px
	text-shadow: none
	margin-bottom: 0
	border-radius: $radius
	box-shadow: none

input[type=number]
	-moz-appearance: textfield
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	appearance: none
	margin: 0

select
	font-size: 16px
	font-weight: 400
	padding: 5px 10px

label
	line-height: 1.2
	font-size: 16px
	margin-bottom: 2px

/* Buttons */
button, .button
	text-decoration: none !important
	font-family: $family
	border-radius: $radius
	transition: $transition
	outline: none

	&.hollow
		background: none !important
		border-color: rgba($button-border-color, 0.5)
		color: $button-bg-color
		&:hover
			color: $button-bg-hover
			background: rgba(#000, 0.05) !important

		&.secondary
			color: $secondary-button-bg-color
			border-color: rgba($secondary-button-border-color, 0.5)
			&:hover
				color: $secondary-button-bg-hover

		&.success
			color: $success-button-bg-color
			border-color: rgba($success-button-border-color, 0.5)
			&:hover
				color: $success-button-bg-hover

		&.warning
			color: $warning-button-bg-color
			border-color: rgba($warning-button-border-color, 0.5)
			&:hover
				color: $warning-button-bg-hover

		&.alert
			color: $alert-button-bg-color
			border-color: rgba($alert-button-border-color, 0.5)
			&:hover
				color: $alert-button-bg-hover

		&.info
			color: $info-button-bg-color
			border-color: rgba($info-button-border-color, 0.5)
			&:hover
				color: $info-button-bg-hover


.progress .meter
	transition: 1s width ease


/*
 * Alerts
 */
.alert-box
	border-width: 0
	padding: 10px 20px
	font-weight: 400
	font-size: 14px
	line-height: 1.4

	&.warning, &.error
		a
			color: #fff

	.expand
		float: right
		display: inline-block
		transform: scale(1.5)
		padding-top: 3px

	.info
		display: none

	&:focus
		.info
			display: block

		.expand
			opacity: 0

.alert-list
	&>li:not(.i-am-closing-now)
		height: auto !important

	.alert-box
		margin-bottom: 0
		margin-top: 1px


/*
 * Options
 */
#options
	$padding-h: 15px

	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 165px
	padding: 15px $padding-h
	box-shadow: 0 0 0 3px rgba($dark, 0.1)
	background: #fff
	z-index: 20
	overflow: hidden
	overflow-y: auto

	hr
		margin-left: -$padding-h
		margin-right: -$padding-h

	button, .button
		width: 100%
		padding: 0 10px
		border-width: 2px
		line-height: 52px
		height: 54px
		font-size: 30px
		margin-bottom: 0

	form.row.collapse
		.columns
			&:not(:last-child)
				&>*
					border-right: 0
					border-top-right-radius: 0
					border-bottom-right-radius: 0
			&:last-child
				&>*
					border-top-left-radius: 0
					border-bottom-left-radius: 0


	#settings
		padding-top: 1px
		animation-duration: 0.3s

		&>label
			cursor: default
			margin-top: 6px
			padding-bottom: 5px
			border-bottom: 1px solid #eee
			font-size: 15px
			letter-spacing: -0.5px
			font-weight: 300
			float: left


		.switch, select
			float: right

		.switch
			margin-bottom: 15px

			input:checked+label:after
				left: 14px

			label
				width: 42px

		select
			border: 0
			width: 82px
			height: 32px
			padding-left: 6px
			background-color: #eee
			color: #444


/*
 * Code / prism.js
 */
#code
	position: absolute
	top: 0
	right: 0
	height: 100%
	width: 435px
	z-index: 15
	display: block
	margin: 0
	padding: 15px 25px
	background: rgba($dark, 0.5)
	box-shadow: 0 0 0 3px rgba($dark, 0.7)
	font-size: 14px
	font-weight: 400
	overflow: hidden
	overflow-y: auto
	border-radius: 0

	&, code[class*="language-"]
		font-family: $family-mono

	.line-highlight
		background: rgba($light, 0.2)

		&:before
			display: none


/*
 * Joyride
 */
.joyride-tip-guide
	background: #333
	box-shadow: 0 0 0 3px rgba($light, 0.1)
	border-radius: 3px

	h1, h2, h3, h4, h5, h6
		color: inherit
		margin-bottom: 10px

	p
		margin-bottom: 16px

	.joyride-content-wrapper
		padding: 20px

	.button.small
		padding: 10px 35px
		line-height: 20px
		vertical-align: top
		background: rgba($light, 0.075)
		border: 2px solid rgba($light, 0.8)
		font-size: 16px
		text-transform: uppercase

		&:hover
			background: rgba($light, 0.25)

		&.joyride-prev-tip
			padding-left: 15px
			padding-right: 15px
			opacity: 0.8



/* Animate.css Additions */
.animated
	&.slow
		animation-duration: 1.5s
	&.fast
		animation-duration: 0.5s
	&.normal
		animation-duration: 1s !important

body
	&.animations-fast
		#editor
			.animated.optional
					animation-duration: 0s

	&.animations-slow
		#editor .animated
			animation-duration: 1.5s