/**
 * Responsive stuff
 */

// Screen alert
.fullscreen-alert
	display: none
	position: absolute
	top: 50px
	left: 0
	z-index: 5
	background: #f04124
	color: #fff
	padding: 10px
	text-align: center
	width: 100%
	font-size: 15px
	font-weight: 300
	line-height: 1.35

	a
		color: #fff
		font-weight: 400
		text-shadow: 0 0 10px rgba($light, 0.2)
		padding: 5px 7px
		background: rgba($light, 0.2)
		border-radius: 5px

// Joyride pointers
.joyride-tips
	div
		position: absolute
		z-index: -1

#jr1
	top: 255px
	left: 450px
#jr2
	top: 150px
	left: 250px
#jr3
	top: 150px
	right: 440px


/* Media queries */
@media screen and (min-width: em-calc(767))
	.wrapper
		box-shadow: 0 0 100px rgba($light, 0.2)

@media screen and (max-width: $large-breakpoint)
	#code
		width: 0
		padding: 0
		display: none

	.fullscreen-alert
		display: block

@media screen and (max-width: $small-breakpoint)
	.joyride-tip-guide .joyride-nub
		display: none