/**
 * Variables
 */

$family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif

$primary: #008CBA
$dark: #000
$light: #fff

$radius: 3px

$transition: 0.2s opacity ease, 0.2s color ease, 0.2s background ease
