/**
 * Variables
 */

// Foundation overrides
$small-breakpoint:  em-calc(600)
$medium-breakpoint: em-calc(1020)
$large-breakpoint: em-calc(1200)

$family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
$family-mono: 'Roboto Mono', 'Inconsolata', 'Anonymous Pro', 'Lucida Console', Monaco, monospace;

$primary: #67cbe2
$secondary: #008db8
$tertiary: #7baad4
$dark: #010101
$light: #fff

$radius: 3px

$transition: 0.2s opacity ease, 0.2s color ease, 0.2s background ease
